@import "bootstrap";
@import "font-awesome";

.navbar-brand{
  color: #000;
}
#dropdown-menu{
  color: #000;
}
/* unvisited link */
a:link {
    color: #0B020F;
}

/* visited link */
a:visited {
    color: #A397A9;
}

/* mouse over link */
a:hover {
    color: #B68FCB;
}

/* selected link */
a:active {
    color: #453195;
}
#wrap{
  width: 960px;
  margin: 0 auto;
}


.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  background: url(http://assets.wholefoodsmarket.com/www/blogs/whole-story/post-images/20150914Alaffia-Good-Soap.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.jumbotron p:last-child {
  margin-bottom: 0;


}

.jumbotron-heading {
  font-weight: 300;
}


.jumbotron .container {
  max-width: 40rem;
}

.breadcrumb{
  color: black;
  text-align: center;
  word-spacing: 8px;
  letter-spacing: 2px;
  background-color: transparent;

}


.card{
  border: none;
  margin: 15px;
}
.card-block{
  margin-left: 25px;
}
.card-title{
  text-align: center;

}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

footer p {
  margin-bottom: .25rem;
}
