<%= render 'jumbotron' %> 

<div class="album text-muted">
  <div class="container">
  <%= render 'shared/catagory_nav' %>
    <div class="row">
      <%= render 'productslist'%>
    </div>
  </div>
</div>